:root {
  --aside-menu-width: 300px;
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --aside-header-height: 50px;
  --color-dark: #000;
  --color-light: #fff;
  --typeBaseSize: 17px;
  --colorBtnPrimary: #607556;
  --typeHeaderSize: 34px;
  --typeHeaderPrimary: 'Work Sans';
  --typeHeaderFallback: sans-serif;
  --typeHeaderWeight: 600;
  --typeHeaderLineHeight: 1.2;
  --typeHeaderSpacing: 0.1em;
  --typeBasePrimary: 'Source Sans Pro';
  --typeBaseFallback: sans-serif;
  --typeBaseSize: 17px;
  --typeBaseWeight: 400;
  --typeBaseLineHeight: 1.4;
  --typeBaseSpacing: 0em;
  --iconWeight: 3px;
  --iconLinecaps: miter;
  --swym-remind-cta-bg-color: #00a65a;
  --swym-remind-cta-text-color: white;
  --swym-remind-cta-bg-color-v2: #000000;
  --swym-remind-cta-text-color-v2: white;
  --swym-subscribe-success-bg-color: #aee9d1;
  --swym-subscribe-success-text-color: #202223;
  --swym-recently-viewed-pointer-pos: 92%;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-menu-width);
  min-width: var(--aside-menu-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  /* transition: transform 200ms ease-in-out; */
  transition: transform 0.25s cubic-bezier(0.43, 0.01, 0.44, 1);
}

aside header {
  align-items: center;
  /* border-bottom: 1px solid var(--color-dark); */
  display: flex;
  height: var(--aside-header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 0rem 1.6rem 1rem 2rem;
}
.login-side-menu {
  font-weight: 600;
}
aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  /* height: var(--header-height); */
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  @media (max-width: 48em) {
    padding: 0rem;
  }
}

.header-section1 {
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}
.no-scroll {
  overflow: hidden;
}
.header-section1.open {
  height: max-content;
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Prevent clicks when invisible */
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 1.2px;

  @media (max-width: 45em) {
    padding: 5px 0px;
    color: #607556 !important;
  }
}
.header-menu-item:hover {
  color: #8ea16f !important;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1.6rem;
  justify-content: flex-end;
  margin-left: auto;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}
.predictive-search-container {
  width: 99vw;
  overflow-x: hidden;
}

.predictive-search-results {
  height: calc(90vh - var(--header-height) - 40px);
  overflow-y: auto;
  margin-left: 25px;
}

.search-asidee {
  margin-left: -12px;
}

.input-search-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.input-search {
  width: 85vw;
  padding: 20px;
  height: 60px;
  font-size: 20px;
  border: none;
  outline: none;
}

.input-search:focus {
  border: none;
  outline: none;
}
.close {
  width: 60px;
  align-content: center;
  @media (max-width: 48em) {
    width: 30px;
  }
}

.close:hover {
  cursor: pointer;
}
.input-search {
  -webkit-appearance: none; /* Hides the default clear button in Chrome/Safari */
  -moz-appearance: textfield; /* Hides the default clear button in Firefox */
  appearance: none; /* Standard property to hide default clear button */
}

.input-search::-webkit-search-cancel-button {
  -webkit-appearance: none; /* Hides the clear button in Chrome/Safari */
}

.close img {
  height: 20px;
  width: 20px;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-form {
  width: 98%;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  /* margin-bottom: 2rem; */
  position: relative;
}

.featured-collection-image {
  margin-top: -50px;
  position: relative;

  @media (max-width: 48em) {
    margin-top: 0px;
  }
  /* aspect-ratio: 1 / 1; */
  /* height: 20vh; */
  /* @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  } */
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

.back-in-stock-desktop {
  @media (max-width: 48em) {
    display: none;
  }
}

.back-in-stock-mobile {
  @media (min-width: 48em) {
    display: none;
  }
}
.back-in-stock-collection-mobile > div {
  font-weight: 500;
}
.back-in-stock-collection-mobile {
  padding: 1rem 2rem 1rem 2rem;
}
.back-in-stock-collection-mobile > h5 {
  font-size: calc(var(--typeBaseSize) * 0.85);
  font-family: Source Sans Pro, sans-serif;
  letter-spacing: 0.2em;
}
.back-in-stock-collection-mobile > h2 {
  font-family: Lora;
  /* margin: 0px 0px 5px; */
  letter-spacing: 1px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.h1,
.h2,
.h3 {
  font-family: Lora;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1;
  color: #1b4c35;

  @media (max-width: 48em) {
    .h2 {
      font-size: calc(var(--typeHeaderSize) * 0.9);
    }
  }
}

.home-page-title {
  font-size: calc(var(--typeHeaderSize) * 0.85);
  color: #607556;
  text-align: center;
  margin-bottom: 2px;
  @media (max-width: 48em) {
    font-size: calc(var(--typeHeaderSize) * 0.85 * 0.85);
  }
}
/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

.featured-collection-image img {
  border-radius: 0px;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

@media (max-width: 992px) {
  .featured-collection-image img {
    height: 58.3vw;
    border-radius: 0px;
  }
}
